<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
</head>

<body>
    <nav>
        <div class="container">
            <a href="{{ url_for('index') }}" class="logo">My Movie Database</a>
        </div>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2025 MyMovieApp. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>