{% extends "base.html" %}

{% block title %}Movies{% endblock %}

{% block content %}
<div href="/" class="back-link">Back to Users</div>
<h1>Movies of {{ user.username }}</h1>
{% if movies %}
<div>
    {% for movie in movies %}
    <div class="card-list">
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="movie-poster">

        <form action="{{ url_for('update_movie', movie_id=movie.id) }}" method="post" class="inline-form">
            <input type="text" name="title" value="{{ movie.title }}" required>
            <button type="submit" class="btn btn-small">Update</button>
        </form>

        <div><strong>Year:</strong> {{ movie.year }}</div>

        <div><strong>Director:</strong> {{ movie.director }}</div>

        <form action="{{ url_for('delete_movie', movie_id=movie.id) }}" method="post" class="inline-form">
            <button type="submit" class="btn btn-small btn-danger"
                onclick="return confirm('Delete this movie?');">Delete</button>
        </form>

    </div>
    {% endfor %}
</div>
{% else %}
<p>No movies found for this user.</p>
{% endif %}
{% endblock %}